---
import Base from '../components/Base.astro';
import TeamMembers from '../components/TeamMembers.astro';
import WhyChoose from '../components/WhyChoose.astro';
import KeyFeatures from '../components/KeyFeatures.astro';
import { aboutData } from '../content/data/aboutData';
---

<Base title={aboutData.title} description={aboutData.description} showCallToAction={true}>
	<h1>{aboutData.title}</h1>
	<p>{aboutData.introText}</p>

	<h2>{aboutData.mission.title}</h2>
	<p>{aboutData.mission.text}</p>

	<KeyFeatures />

	<WhyChoose />

	<h2>{aboutData.communityCollaboration.title}</h2>
	<p>{aboutData.communityCollaboration.text}</p>

	<h2>{aboutData.getInvolved.title}</h2>
	<p>{aboutData.getInvolved.text}</p>

	<p><strong>{aboutData.closingText}</strong></p>

	<TeamMembers />
</Base>
