---
import Base from '../components/Base.astro';
import { attributionData } from '../content/data/attributionData';
import '../styles/Attributions.css';
---

<Base title={attributionData.title} description={attributionData.description} showCallToAction={false}>
    <h2>{attributionData.title}</h2>
    <p>{attributionData.introText}</p>

    <h3>{attributionData.sections?.[0]?.title}</h3>
    <ul>
        {attributionData.sections?.[0]?.items?.map(item => (
            <li>
                <b>{item.title}:</b> {item.description}
            </li>
        ))}
    </ul>

    <h3>{attributionData.sections?.[1]?.title}</h3>
    <p>{attributionData.sections?.[1]?.text}</p>

    <section class="attribution-section">
        <h3 class="attribution-title">Attribution List</h3>
        <ul class="attribution-list">
            {attributionData.attributions?.map((item) => (
            <li>
                <a href={item.url} target="_blank" rel="noopener noreferrer">{item.name}</a>
            </li>
            ))}
        </ul>
    </section>
</Base>
