---
import Base from '../components/Base.astro';
import { codeOfConductData } from '../content/data/codeOfConductData';
---

<Base title={codeOfConductData.title} description={codeOfConductData.description} showCallToAction={false}>
    <h3>{codeOfConductData.introduction.title}</h3>
    <p>{codeOfConductData.introduction.text}</p>

    <h3>{codeOfConductData.standards.title}</h3>
    <p>{codeOfConductData.standards.text}</p>
    <ul>
        {codeOfConductData.standards.items.map(item => (
            <li>
                <b>{item.title}:</b> {item.description}
            </li>
        ))}
    </ul>

    <h3>{codeOfConductData.unacceptableBehavior.title}</h3>
    <p>{codeOfConductData.unacceptableBehavior.text}</p>
    <ul>
        {codeOfConductData.unacceptableBehavior.items.map(item => (
            <li>
                <b>{item.title}:</b> {item.description}
            </li>
        ))}
    </ul>

    <h3>{codeOfConductData.reporting.title}</h3>
    <p>{codeOfConductData.reporting.text}</p>
    <h4>How to Report</h4>
    <ul>
        {codeOfConductData.reporting.reportingMethods.map(method => (
            <li>
                <b>{method.title}:</b> {method.description}
            </li>
        ))}
    </ul>

    <h4>{codeOfConductData.reporting.enforcement.title}</h4>
    <p>{codeOfConductData.reporting.enforcement.text}</p>
    <ul>
        {codeOfConductData.reporting.enforcement.items.map(item => (
            <li>
                <b>{item.title}:</b> {item.description}
            </li>
        ))}
    </ul>

    <h3>{codeOfConductData.attribution.title}</h3>
    <p>
        {codeOfConductData.attribution.text.split("https://www.contributor-covenant.org/version/2/0/code_of_conduct.html")[0]}
        <a href="https://www.contributor-covenant.org/version/2/0/code_of_conduct.html">Contributor Covenant, version 2.0</a>.
    </p>

    <h3>{codeOfConductData.contactInformation.title}</h3>
    <p>{codeOfConductData.contactInformation.text}</p>
    
    <h3>{codeOfConductData.conclusion.title}</h3>
    <p>{codeOfConductData.conclusion.text}</p>
</Base>
