---
import Base from '../components/Base.astro';
import { privacyPolicyData } from '../content/privacyPolicyData';
---

<Base title={privacyPolicyData.title} description={privacyPolicyData.description} showCallToAction={false}>
    {privacyPolicyData.sections.map(section => (
        <section>
            <h3>{section.title}</h3>
            <p>
                {section.text.includes("Discord server") ? (
                    <>
                        {section.text.split("https://discord.gg/MsF24qUA5y")[0]}
                        <a href="https://discord.gg/MsF24qUA5y">Discord server</a>.
                    </>
                ) : (
                    section.text
                )}
            </p>
            {section.listItems && (
                <ul>
                    {section.listItems.map(item => (
                        <li>{item}</li>
                    ))}
                </ul>
            )}
            {section.additionalText && (
                <p>{section.additionalText}</p>
            )}
        </section>
    ))}
</Base>
