---
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import "../styles/BlogSlider.css";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 2);
---

<section class="latest-blogs">
  <h2>Latest Blogs</h2>
  <div class="blog-grid">
    {
      posts.map((post) => (
        <div class="blog-card">
          <div class="blog-image-container">
            {post.data.heroImage && (
              <img src={post.data.heroImage} alt={post.data.title} />
            )}
          </div>
          <div class="blog-content">
            <h3 class="blog-title">{post.data.title}</h3>
            <p class="blog-date">
              <FormattedDate date={post.data.pubDate} />
            </p>
            <a href={`/blog/${post.slug}/`} class="read-more">
              Read More
            </a>
          </div>
        </div>
      ))
    }
  </div>
</section>
