---
import { downloadInfoTable } from "../content/data/download-info-table";
import "../styles/DownloadInfoTable.css";

const tabs = Object.keys(downloadInfoTable);
---

<section class="downloads-info-section">
  <h2 class="section-title">DOWNLOAD INFORMATION</h2>
  <div class="tabs-container">
    <div class="tabs">
      {
        tabs.map((tab, index) => (
          <button
            class={`tab ${index === 0 ? "active" : ""}`}
            id={`${tab}-tab`}
            data-target={`${tab}-content`}
          >
            {downloadInfoTable[tab].title}
          </button>
        ))
      }
    </div>

    <div class="tab-content">
      {
        tabs.map((tab, index) => (
          <div
            id={`${tab}-content`}
            class={`tab-pane ${index === 0 ? "active" : ""}`}
          >
            {downloadInfoTable[tab].content.map((item) => (
              <p class="tab-content-item">{item}</p>
            ))}
          </div>
        ))
      }
    </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const tabs = document.querySelectorAll(".tab");
    const panes = document.querySelectorAll(".tab-pane");

    tabs.forEach((tab) => {
      tab.addEventListener("click", function () {
        const target = tab.getAttribute("data-target");

        tabs.forEach((t) => t.classList.remove("active"));
        panes.forEach((pane) => pane.classList.remove("active"));

        tab.classList.add("active");
        if (target) {
          const targetElement = document.getElementById(target);
          if (targetElement) {
            targetElement.classList.add("active");
          }
        }
      });
    });
  });
</script>
