---
import { teamMembers } from '../content/team';
import '../styles/TeamMembers.css';
---
<section class="team-section" id="team">
    <h2 class="team-title">Meet the Team</h2>
    <div class="team-grid">
        {teamMembers.map((member) => (
            <div class="team-member">
            <a href={member.profileUrl}>
                <img src={member.imageUrl} alt={`${member.name}'s Profile Picture`} class="team-photo">
                <h3 class="team-name">{member.name}</h3>
                <p class="team-role">{member.role}</p>
            </a>
            </div>
        ))}
    </div>
</section>

